.phonebook {
  display: flex;
  justify-content: center;
}

.btn {
  margin-top: 30px;
  display: flex;
  width: 150px;
  height: 30px;

  margin-top: 30px;
}

.inpt {
  /* display: flex; */
  height: 30px;
}
